/*这是banner部分*/
.home_bannera{
    width: 100%;
    height: 418px;
    background-color: black;
    position: relative;
}
.home_bannera_lb{
    width: 100%;
    height: 478px;

    margin: -260px auto 0 auto;
}
.home_bannera_lb_a{
    width: 1920px;
    height: 478px;
    /*margin: auto;*/
    position: relative;
    left: 50%;
    margin-left: -960px;
    /*border: 1px solid red;*/
    /*overflow: hidden;*/
    text-align: center;
}
.home_banner_l_ul{
    width: 17280px;
    height: 318px;
    position: absolute;
    top: 0;
    left: 0;
    /*transition: left 0.5s;*/
    -webkit-transition: left 0.5s;
    -moz-transition: left 0.5s;	/* Firefox 4 */
    -o-transition: left 0.5s;	/* Opera */
}
.home_bannera_lb_a ul li{
    width: 1920px;
    height: 248px;
    float: left;
    text-align: center;
}

.home_btn{
    width: 279px;
    height: 20px;
    margin: 438px auto 0 auto;

}
.home_btn ul li {
    display: inline;
    float: left;
    margin-right: 1px;
    width: 23px;
    height: 23px;


}
.aa{
    cursor:pointer;
}
.home_btn ul li a{
    display: block;
    width: 23px;
    height: 23px;
    /*background-color: red;*/
}
.home_btn1{
    background: url(../images/bg_banner_button.png) no-repeat 0 -23px;

}
.home_btn2{
    background: url(../images/bg_banner_button.png) no-repeat -23px 0;

}
.home_btn3{
    background: url(../images/bg_banner_button.png) no-repeat -46px 0;

}
.home_btn4{
    background: url(../images/bg_banner_button.png) no-repeat -69px 0;

}
.home_btn5{
    background: url(../images/bg_banner_button.png) no-repeat -92px 0 ;

}
.home_btn6{
    background: url(../images/bg_banner_button.png) no-repeat -115px 0;

}
.home_btn7{
    background: url(../images/bg_banner_button.png) no-repeat -138px 0;

}
.home_btn8{
    background: url(../images/bg_banner_button.png) no-repeat -161px 0;

}
.home_btn9{
    background: url(../images/bg_banner_button.png) no-repeat -184px 0;

}
.home_f{
    width: 723px;
    height:16px;
    margin: 0 auto;
    /*background-color: red;*/
    z-index: 16;
}
/*这是banner部分结束*/

/*这是主体部分开始*/

/*这是图片那一块*/
.home_content{
    width: 935px;
    margin: 20px auto;
}
.home_body_case{
    height: 450px;
    width: 943px;


}
.home_body_case_liz{
    float: left;
    width: 302px;
    height: 205px;
    position: relative;
    display: inline;
    background: url(../images/bg_case_f.png) no-repeat 0 170px;
    margin-right: 14px;
    margin-bottom: 30px;

}
.home_body_case_liy{
    float: right;
    width: 302px;
    height: 205px;
    position: relative;
    display: inline;
    background: url(../images/bg_case_f.png) no-repeat 0 170px;

    margin-bottom: 30px;
}
.home_body_case_li_hz{
    width: 302px;
    height: 205px;
    background: url(../images/bg_case.png) no-repeat;
    /*position: absolute;*/
    /*top: 18px;*/
    margin-top: 18px;
    display: block;
    transition: margin-top 1s;
    -webkit-transition: margin-top 0.5s;
    -moz-transition: margin-top 0.5s;	/* Firefox 4 */
    -o-transition: margin-top 0.5s;	/* Opera */
    padding: 20px;
    position: relative;
    /*z-index: 999;*/
    /*transition: opacity;*/
    /*-webkit-transition: opacity 2s;*/
}
.home_body_case_li_hz_mb{
    width: 262px;
    height: 148px;
    background: rgba(51,51,51,0.5);
    position: absolute;
    top: 40px;
    left: 20px;
    /*margin-top: 18px;*/
    transition: margin-top 0.5s;
    -webkit-transition: margin-top 0.5s;
    -moz-transition: margin-top 0.5s;	/* Firefox 4 */
    -o-transition: margin-top 0.5s;	/* Opera */
    display: none;
}
.home_body_case_li_hz_al{


    width: 61px;
    height: 61px;
    position: absolute;
    /*position: absolute;*/
    /*top: 60px;*/
    margin-left: 1px;
    margin-top: -110px;
    transition: margin-left 1s;
    -webkit-transition: margin-left 1s;
    -moz-transition: margin-left 1s;	/* Firefox 4 */
    -o-transition: margin-left 1s;	/* Opera */
    background: url(../images/zoom-icon.png) no-repeat;
    /*z-index: 99;*/
    display: block;
    opacity: 0;

}
.home_body_case_li_hz_ar{

    display: block;
    opacity: 0;
    width: 61px;
    height: 61px;
    position: absolute;
    /*top: 60px;*/
    /*left: 220px;*/
    margin-top: -110px;
    margin-left: 200px;
    transition: margin-left 1s;
    -webkit-transition: margin-left 1s;
    -moz-transition: margin-left 1s;	/* Firefox 4 */
    -o-transition: margin-left 1s;	/* Opera */
    background: url(../images/readmore-icon.png) no-repeat;
}
/*这是图片那一块结束*/

/*这是案例那一块开始*/
.home_body_tj{
    width: 943px;
    height: 100px;
    margin-top: 20px;
}
.home_body_tj_t{
    height: 27px;
    background: url(../images/box_t.png) no-repeat;
}
.home_body_tj_m{
    background: url(../images/box_m.png) repeat-y;
    padding: 0 29px 0 29px;
}
.home_body_tj_m_a{
    width: 160px;
    height: 41px;

    display: block;
    float: right;
    background: url(../images/recommend_read_more.png) no-repeat 0 -41px;
    position: relative;
}
.home_body_tj_m_a_m{
    width: 160px;
    height: 41px;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background: url(../images/recommend_read_more.png) no-repeat ;
    transition: opacity;
    -webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;	/* Firefox 4 */
    -o-transition: opacity 1s;	/* Opera */
}
.home_body_tj_b{
    height: 27px;
    background: url(../images/box_b.png) no-repeat;
}
/*这是案例那一块结束*/
/*这是产品那一块开始*/
/*这是产品那一块*/
.home_body_slogen{
    width: 943px;
    height: 275px;
    margin-top: 30px;

}
.home_body_slogen_m{
    width: 935px;
    height: 210px;
    background: url(../images/box_m.png) repeat-y;
    padding: 0px 29px 0px 9px;
}
.home_body_slogen_m ul{
    list-style: none;
}
.home_body_slogen_m ul li{
    height: 120px;
    float: left;
    margin-right: 20px;

}
.home_body_slogen_m ul li a{
    display: block;
    width: 285px;
    height: 90px;
    position: relative;
    overflow: hidden;

}
.home_body_slogen_m_a1_m{
    /*margin-top: -95px;*/
    transition: opacity;
    -webkit-transition: opacity 0.5s;
    -moz-transition: opacity 0.5s;	/* Firefox 4 */
    -o-transition: opacity 0.5s;	/* Opera */
    margin: 0;
    padding: 0;
    /*display: none;*/
}
.home_body_slogen_m_b{
    height: 120px;
    border-left: 1px solid #EDEDED;
}
.home_body_slogen_m_a1{
    background: url(../images/box3_bg1.png) no-repeat 0 -94px;
}
.home_body_slogen_m_a2{
    background: url(../images/box3_bg2.png) no-repeat 0 -94px;;

}
.home_body_slogen_m_a3{
    background: url(../images/box3_bg3.png) no-repeat 0 -94px;;

}
.home_body_slogen_m_a4{
    background: url(../images/box3_bg4.png) no-repeat 0 -94px;;

}
.home_body_slogen_m_a5{
    background: url(../images/box3_bg5.png) no-repeat 0 -94px;;

}
.home_body_slogen_m_a6{
    background: url(../images/box3_bg6.png) no-repeat 0 -94px;;

}
/*这是产品那一块结束*/

/*这是服务那一块开始*/
.home_body_service{
    width: 943px;
    height: 355px;

    margin-top: 50px;
}

.home_body_service_t{
    height: 22px;
    background: url(../images/box2_t.png) no-repeat;
}
.home_body_service_m{
    background: url(../images/box2_m.png) repeat-y;
    height: 311px;
    padding: 0px 29px 0px 29px;
}
.home_body_service_m_l{
    width: 252px;
    font-size: 11px;
    color: #787878;
    line-height: 21px;
    position: relative;
    float: left;

}
.home_body_service_m_l_a{
    width: 99px;
    height: 49px;

    background: url(../images/label.png) no-repeat 0 -49px;
    position: absolute;
    left: -34px;
    top: 10px;
}
.home_body_service_m_l_a_m{
    width: 99px;
    height: 49px;
    position: absolute;
    background: url(../images/label.png) no-repeat;
    transition: opacity;
    -webkit-transition: opacity 0.5s;
    -moz-transition: opacity 0.5s;	/* Firefox 4 */
    -o-transition: opacity 0.5s;	/* Opera */
}
.home_body_service_m_r{
    width: 545px;
    height: 311px;
    float: right;
    margin-right: 16px;
    display: inline;

}
.home_body_service_m_r_d{
    width: 326px;


    float: right;
    margin-top: 22px;
}
.home_body_service_m_r_d p{
    font-size: 11px;
    color: #787878;
    line-height: 21px;
}
.home_body_service_b{
    height: 22px;
    background: url(../images/box2_b.png) no-repeat;
}
/*这是服务那一块结束*/
/*这是主体部分结束*/